<%- include("partials/header") -%>
<h1 class="h1Findings"><%=headingOfFindings%></h1>
<ul class="lists">
    <li><%=li1%></li>
    <li><%=li2%></li>
    <li><%=li3%></li>
    <li><%=li4%></li>
    <li><%=li5%></li>
    <li><%=li6%></li>
</ul>
<%- include("partials/footer") -%>